.star {
    color : orange
}

@font-face {
    font-family:'FiraSans';
    src: local('FiraSans'), url("../style/font/font.ttf") format('truetype');
}

.table td { 
  padding:0 0 0 0px;
  vertical-align: middle;
}

.text{
    padding: 0 0 0 0px;
    font-size: 15px;
}

.generalRating {
    font-size: 15px;
    color:black;
    text-align:center
}
.ratingCounts{
    font-size:12px;
    color:grey;
    text-align: center
}

.table-bordered td {
    border : none
}

.load-more {
  display: block;
  border: 0;
  margin: 1em auto;
  padding: .75em 1em;
  font-size: 1em;
  background-color: black;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

}